@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Pixelify+Sans&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/pixel-abstract.jpg);
    background-size: cover;
}
#header {
    background-image: url(../img/pixel\ rain.jpg);
    background-size: contain;
    padding: 35px 20px 25px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive; 
}

p {
    margin-top: 10px;
    font-size: 25px;
    color: #ff668a;
    font-family: 'Pixelify Sans', cursive;
}

span {
    background: yellow;
    color: #ff668a;
}

a {
   background-color: rgb(255, 183, 255);
   font-size: 35px;
   width: 500px;
   padding: 50px;
   margin: 20px;
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   display: flex;
   height: 50px; 
   margin-left: 35%;
   font-family: 'Pixelify Sans';
}
