
.container {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.image-bag-1 {
    width: 105%;
    display: flex;
    animation: slide 15s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-120%);
    }
    50% {
        transform: translateX(-120%);
    }
    55% {
        transform: translateX(-250%);
    }
    75% {
        transform: translateX(-250%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
 
.asset-bag-1 {
    position: relative;
}

.momiji-kiri-atas {
    position: relative;
    top: -8px;
    left: -8px;
}

.ozora-hotel {
    position: relative;
    top: -120px;
    right: -630px;
}

.reed-hotel {
    position: relative;
    top: 450px;
    right: -110px;
}