*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #ffd782;
}

.container {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.image-bag-1 {
    width: 105%;
    display: flex;
    animation: slide 15s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-120%);
    }
    50% {
        transform: translateX(-120%);
    }
    55% {
        transform: translateX(-250%);
    }
    75% {
        transform: translateX(-250%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
 
.asset-bag-1 {
    position: relative;
}

.momiji-kiri-atas {
    position: relative;
    top: -8px;
    left: -8px;
}

.ozora-hotel {
    position: relative;
    top: -120px;
    right: -630px;
}

.reed-hotel {
    position: relative;
    top: 450px;
    right: -110px;
}

.navigation {
    position: absolute;
    z-index: 100;
    border-style: solid;
    border-width: 8px;
    border-color: #506432;
    background-color: #b30019;
    width: 100%;
    height: 83px;
    margin: auto;
    margin-top: 4,7%;
    border: 5px solid #506432;
    top: 880px;
}

.navigation ul {
    display: block;
    list-style: none;
    justify-content: center;
    position: sticky;
    background-color: #b30019;
    margin: auto;
}

.navigation li {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.navigation li a {
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.a:hover {
    background-color: #7b0313;
}