body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    background-color: #6eb9f2;
}

#wrapper {
    height: 2580px;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

#bagian-1 {
    background-image: url(../img/ocean-layer-top.jpg);
    background-size: cover;
}

#bagian-1 .fuyu-menu {
        position: relative;
        top: -65px;
        left: 180px;
        background: none;
        }

#bagian-1 .Ramen-1 {
        position: relative;
        bottom: -160px;
        left: -555px;
        }

#bagian-1 .curry-rice-1 {
        position: absolute;
        top: 180px;
        right: 743px;
        }

#bagian-1 .hitsumabushi-1 {
        position: relative;
        top: -45px;
        right: -700px;
    }

#bagian-2 {
    position: relative;
    min-height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bagian-2 .salju-cave-1 {
        position: absolute;
        top: -75px;
        left: 0;
    }

#bagian-2 .salju-cave-2 {
    position: absolute;
    bottom: -32px;
    left: 0;
    }

#bagian-2 .menu {
    position: relative;
    z-index: 1;
    }

#bagian-2 .tiga-menu {
        position: absolute;
        top: -110px;
        left: -400px;
        right: 40px;
    }

.Button-ramen {
        position: absolute;
        top: -25px;
        left: -475px;
        cursor: pointer;
        border: none;
        background: fixed;
    }

.Button-ramen:hover {
        background-color: transparent;
    }

.Button-ramen:active {
        background-color: transparent;
        box-shadow: 0 0;
        transform: translateY(4px);
    }

.button-curry {
        position: absolute;
        top: -18px;
        left: -145px;
        cursor: pointer;
        border: none;
        background: fixed;
    }

.button-curry:hover {
        background-color: transparent;
    }

.button-curry:active {
        background-color: transparent;
        box-shadow: 0 0;
        transform: translateY(4px);
    }

    .button-hitsumabushi {
        position: absolute;
        top: -25px;
        left: 165px;
        cursor: pointer;
        border: none;
        background: fixed;
    }

.button-hitsumabushi:hover {
        background-color: transparent;
    }

.button-hitsumabushi:active {
        background-color: transparent;
        box-shadow: 0  0;
        transform: translateY(4px);
    }

.sub-wrapper {
    background-image: url(../img/beruang-tidur-lengkap.png), url(../img/ocean-layer-2.jpg);
    background-size: contain, cover;
    background-position: right bottom, right top;
    background-repeat: no-repeat,repeat;
}

#bagian-3 .salju-cave-3 {
    position: absolute;
    top: 940px;
    left: auto;
}

.dish-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-txt {
    background-color: #1c6083;
    color: #fff;
    padding: 60px 10px 10px;
    border-radius: 8px;

}

.dish-img {
    display: block;
}


.beruang-duduk {
    position: absolute;
    top: 1084px;
    left: 743px;
    right: 0;
    width: 520px;
    height: auto;
}

.dish-txt-2 {
    background-color: #1c6083;
    color: #fff;
    padding: 60px 15px 15px;
    border-radius: 8px;
}

.dish-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.beruang-rebahan {
    position: absolute;
    top: 1427px;
    left: 410px;
    right: 0;
    width: 540px;
    height: auto;
}

.dish-container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rumah-eskimo {
    position: absolute;
    top: 1748px;
    left: 747px;
    right: 0;
    width: 515px;
    height: auto;
}

.dish-img-3 {
    display: block
}

.dish-txt-3 {
    background-color: #1c6083;
    color: #fff;
    padding: 60px 7px 7px;
    border-radius: 8px;
}

#bagian-4 .salju-cave-4 {
    position: absolute;
    top: 2010px;
    left: auto;
}

.button-kupon {
    position: relative;
    top: 15px;
    left: 157px;
    cursor: pointer;
    border: none;
    background: fixed;
}

.button-kupon:hover {
    background-color: transparent;
}

.button-kupon:active {
    background-color: transparent;
    box-shadow: 0 0;
    transform: translateY(4px);
}

.dish-container-akses {
    background-color: #1c6083;
    color: #fff;
    padding: 30px 15px 15px;
    border-radius: 8px;
    margin: 114px 387px 30px 61px;
    bottom: 24px;
    position: relative;
}
