@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #343a42;
}

div {
    display: block;
}

#table-form {
    background-image: linear-gradient(to bottom right, #2f9dd4, #7c248a);
    padding: 15px 0;
}

.container {
    background-color: #eaf0f3;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.tables {
    border-bottom: solid 5px #2f9dd4;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.tables table {
    width: 100%;
    border-collapse: collapse;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

table td {
    padding: 5px 0;
    text-align: center;
}

table, th, td {
    border: solid 1px #19334a;
}

.tables table th .tables table td {
    padding: 5px 0;
    text-align: center;
}

.first-table table th {
    background-color: #2f9dd4;
}

.first-table table td {
    background-color: #b7d3f5;
}

.second-table table th {
    background-color: #2f9dd4;
}

.second-table table td {
    background-color: #b7d3f5;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: internal center;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.form h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0em;
    display: block;
}

.form label {
    width: 100%;
    display: block;
    margin-top: 10px;
}

label {
    cursor: default;
}

.form input, .form select {
    width: 100%;
    display: block;
    background-color: #ada9ba;
    border: none;
    padding: 10px;
}

input[type="text" i]{
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
}

.form textarea {
    width: 100%;
    background-color: #ada9ba;
    border: none;
    padding: 10px;
}

textarea {
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space-collapse: preserve;
    text-wrap: wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    writing-mode: horizontal-tb !important;    
}

.form button {
    width: 100%;
    background-color: #41558c;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}

.form button:hover {
    color: aqua;
}